<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Login | TalentHaven</title>
    <%- include('../templates/externalPageHead.ejs') %>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Login | TalentHaven</title>
    <%- include('../templates/externalPageHead.ejs') %>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  <body class="bg-img">
   <header>
    <nav class="navbar navbar-expand-lg">
     <div class="container-fluid my-auto">
         <a class="navbar-brand" href="/"><span style="color: #4D49FF;">Talent</span> Haven</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav nav-padding ml-auto">
                 <li class="nav-item nav-margin-signIn">
                     <a class="nav-link nav-link-white" href="/login">Sign In -></a>
                 </li>
                 <li class="nav-item nav-margin-signUp">
                     <a class="nav-link nav-link-white" href="/employee/register">Sign Up -></a>
                 </li>
             </ul>
         </div>
     </div>
 </nav>
  </header>

    <main>
      <div class="container-fluid my-auto">
        <div class="row mb-5">
          <div class="col-md-5 mx-auto my-auto d-none d-md-block">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <h1><span class="prj-text-primary">TalentPool</span></h1>
              <p class="text-center">
                <a href="" class="prj-text-accent custom-link">Log in</a> or
                <a href="" class="prj-text-accent custom-link"
                  >Create an account</a
                >
              </p>
            </div>
          </div>
          <section
            class="form-container shadow col-10 px-4 col-sm-8 col-md-6 px-md-4 col-lg-5 px-lg-5 mx-auto col-xl-4 bg-white br-5"
          >
            <h1 class="prj-header-h4 font-weight-bold text-center px-3 mt-4">
              Log In
            </h1>

            <% if (errorMessage) { %>
            <div
              role="alert"
              class="alert alert-danger user-message user-message--error"
            >
              <%= errorMessage %>
            </div>
            <% }if (success && success.length > 0) { %>
            <div role="alert" class="alert alert-success user-message">
              <%= success %>
            </div>
            <% } %>
            <form action="/login" method="POST" name="loginForm">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="row">
                <div class="form-group col">
                  <label for="email" class="prj-normal-text"
                    >Email address</label
                  >
                  <input
                    name="email"
                    type="email"
                    class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    id="email"
                    placeholder="Email address"
                    autocomplete="email"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col">
                  <label for="password" class="prj-normal-text">Password</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    id="password"
                    placeholder="Password"
                    autocomplete="new-password"
                    required
                  />
                </div>
              </div>
              <div class="col text-left px-0">
                <p>
                  <a href="" class="prj-normal-text custom-link"
                    >Forgot Password?</a
                  >
                </p>
              </div>
              <div
                class="d-flex flex-column align-items-center justify-content-between"
              >
                <button
                  type="submit"
                  class="btn btn-lg prj-bg-accent text-white"
                >
                  Log In
                </button>
              </div>
            </form>
            <div class="row pt-2 pb-3">
              <hr />
              <div class="col">
                <p class="sign-up-alt-text text-center mb-0">
                  Or
                </p>
              </div>
              <hr />
            </div>

            <div class="row pb-3">
              <div class="col-12 d-flex justify-content-center">
                  <a href="/auth/employee/google" class="btn shadow-sm mb-3 d-flex justify-content-around align-items-center"
                  >
                    <img
                      class="img-fluid btn-img mr-2"
                      src="/images/icon-google.svg"
                      alt="github button image"
                    />
                    <span class="mb-0">Continue with Google</span>
                </a>
              </div>
              <div class="col-12 d-flex justify-content-center">
                  <a href="/auth/employee/github" class="btn shadow-sm d-flex justify-content-around align-items-center"
                  >
                    <img
                      class="img-fluid btn-img mr-2"
                      src="/images/icon-github.svg"
                      alt="github button image"
                    />
                    <span class="mb-0">Continue with Github</span>
                 </a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="prj-normal-text pt-0">
                  Don't have an account?
                  <a href="" class="text-center prj-text-accent">Sign Up</a>
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <footer></footer>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/login.js"></script>
    <%- include('../templates/clearflashmessages.ejs') %>
  </body>
</html>
