<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Talent Haven | Admin Verification</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

    <!-- Boiler Plate CSS -->
    <link rel="stylesheet" href="/stylesheets/datatable css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/stylesheets/datatable css/custom.css">


    <!-- Dashboard CSS -->
    <link rel="stylesheet" href="/stylesheets/dashboardSidenav.css">
    <link rel="stylesheet" href="/stylesheets/dashboardHeader.css">
    <link rel="stylesheet" href="/stylesheets/admin-dashboard-verification.css">

</head>
<body>

    <%- include('../templates/adminDashboardSidebar.ejs') %>
    <%- include('../templates/dashboardHeader.ejs') %>

    <section class="admin-dashboard-verification-container-pt">

        <div class="container">
            
            <div class="verification-table-container">
                <div
                 style="margin: auto; font-size: 13px;"
                 class="animated fadeInUp"
                 id="jobTableContainer"
                >
                    <br>
                    <table id="employersTable" class="table table-hover employersTable" style="cursor: pointer;">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Date Joined</th>
                                <th>Verification status</th>
                                <th>Others</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let id = 1 %>
                            <% pendingVerifications.forEach(function(employer){ %>
                                <tr>
                                    <td><%= id %></td>
                                    <td><%= employer.User.firstName %> <%= employer.User.lastName %></td>
                                    <td><%= employer.employerPhoneNumber %></td>
                                    <td><%= employer.employerEmail %></td>
                                    <td><%= employer.employerType %></td>
                                    <td><%= moment(employer.createdAt).format('MMMM Do YYYY') %></td>
                                    <td><%= employer.verificationStatus %></td>
                                    <td onclick="alert('wassup boss')">View More</td>
                                </tr>
                                <% id +=1 %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </section>


    <!-- Dashboard JS -->
    <script src="/javascripts/dashboardNav.js"></script>
    <script src="/javascripts/dashboardSideNav.js"></script>

    <!-- Datatables JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script src="/javascripts/admin-dashboard-verification.js"></script>
    <script>
    const setDataTable = () => {
    $(document).ready(function() {
        $('#employersTable').DataTable();
    } );
    };
    </script>
</body>
</html>
